header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 168px;
    background-color: $bright-green;
    padding: 10px;
    margin: 0;
    border: 1.5px solid $off-black;
    list-style: none;
    z-index: 1;

    li {
      margin: 5px 0;
    }

    a {
      color: $off-black;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}